:host {
  display: flex;
  flex:1;
  flex-direction: column;
  mat-sidenav-container {
    flex: 1;

    mat-sidenav {
      display: flex;
      flex-direction: column;
    }

    mat-card {
      margin: 20px;
      .banners {
        width: 100%;
        border-collapse: collapse;

        td {
          border: 1px solid #001;
          text-align: center;
          padding: 10px;
        }

        th {
          cursor: pointer;
          .sortable {
            padding: 0 5px;
            display: flex;
            flex-direction: row;
            text-align: center;
          }
        }

        img {
          width: 100%;
          max-width: 500px;
        }
      }
    }
  }
}

.add-banner-floating-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
