md-card{
	margin: 20px;
}

.banner-form {
	display: flex;
	justify-content: center;
	flex-direction: column;

	&>* {
		margin-top: 20px;
	}

	img {
		width: 500px;
	}
}

.banners {
	width: 100%;
	border-collapse: collapse;

	td {
		border :1px solid #001;
		text-align: center;
		padding: 10px;
	}

	img {
		width: 100%;
		max-width: 500px;
	}
}
